* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge  */
  user-select: none; /* Standard */
}

body {
  font-size: 110%;
  margin-top: 70px;
  margin-left: 19px;
  //color: #DEDED2;
  //background-color: #262626;
  background-color: lightblue;
  //display: table;
  overflow-y: hidden;
}

h1 {
  position: absolute;
  left: 800px;
  top: 80px;
}

h3 {
  margin: 0px 0px 0px 0px;
}

table.heros {

}

table.missionCount {
  position:absolute;
  left: 50px;
  top: 335px;
}

div#slash {
  text-align: center;
}

img#hero {
  height: 120px;
  padding-left: 5px;
  width: auto;
}

img.ops2 {
  width: 20px;
  height: auto;
}

div.count {
  text-align: center;
  left: 900px;
}

p2 {
  color: #4fbbc9;
}

/* Style the tab */
.tab {
    position: absolute;
    top: 10px;
    left: 50px;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    position: absolute;
    top: 55px;
    left: 50px;
    display: none;
    padding: 6px 12px;
    //border: 1px solid #ccc;
    border-top: none;
}


div.vaults {
    float:left;
    margin: 0px 20px 0px 20px;
    text-align: center;
    //background-color:#aaffff;
}

div#VaultDrops {
  //opacity:0.5;
}

p.vaultOpened, p.vaultReds, p.vaultDeeds {
  margin: 4px 0px 4px 0px;
}

body {
  font-family: 'UnifrakturCook';font-size: 20px;
}

div#operatorPanel {
  float: left;
  width: 140px;
  position: relative;
  left: 450px;
  top: 300px;
}

img#multi1 {
  width: 35px;
}

img#multi10 {
  width: 35px;
}


img#add {
  width: 78px;
}

img#sub {
  width: 78px;
}
